@model NSchicht.Core.Konkret.Eigenschaft
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NeuerAdministratorLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Eigenschaft bearbeiten Seite</h4>
                  @using(Html.BeginForm("Index","Eigenschaft", FormMethod.Post))
                  {
                  @Html.HiddenFor(x=>x.EigenschaftID)
                    <br/>
                     <div class="form-group">
                      <label for="exampleInputName1">Header</label>
                      <input type="text" asp-for="Header" class="form-control" id="exampleInputName1" placeholder="Header">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Name</label>
                      <input type="text" asp-for="Name" class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Aufgabe</label>
                      <input type="text" asp-for="Title" class="form-control" id="exampleInputName1" placeholder="Aufgabe">
                    </div>
                    <button type="submit" class="btn btn-outline-primary mr-2">Bearbeiten</button>
                    }
                </div>
              </div>
            </div>
@*<div class="card-header border-0">
              <h3 class="mb-0">Eigenschaft bearbeiten Seite</h3>
            </div>
@using(Html.BeginForm("Index","Eigenschaft", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.EigenschaftID)
    <br/>
    <label>Header</label>
    @Html.TextBoxFor(x=>x.Header, new {@class="from-control"})
    <br/>
    <label>Name </label>
    @Html.TextBoxFor(x=>x.Name, new {@class="from-control"})
    <br/>
    <label>Aufgabe </label>
    @Html.TextBoxFor(x=>x.Title, new {@class="from-control"})
    <br/>
    <button class="btn btn-success">Bearbeiten</button>
}*@


