@model NSchicht.Core.Konkret.Dienst
@{
    ViewData["Title"] = "InsertDienst";
    Layout = "~/Views/Shared/_NeuerAdministratorLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Dienstshinzufügensseite</h4>
                  @using(Html.BeginForm("InsertDienst","Dienst", FormMethod.Post))
                  {
                      @Html.HiddenFor(x=>x.DienstID)
                     <div class="form-group">
                      <label for="exampleInputName1">Title</label>
                      <input type="text" asp-for="Title" class="form-control" id="exampleInputName1" placeholder="Title">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">BildUrl</label>
                      <input type="text" asp-for="BildUrl" class="form-control" id="exampleInputName1" placeholder="BildUrl">
                    </div>
                    <button type="submit" class="btn btn-outline-primary mr-2">Hinzufügen</button>
                    }
                </div>
              </div>
            </div>
@*<div class="card-header border-0">
              <h3 class="mb-0">Dienstshinzufügensseite</h3>
            </div>
            <br/>
@using(Html.BeginForm("InsertDienst","Dienst", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.DienstID)
    <br/>
    @Html.Label("Dienststitel")
    @Html.TextBoxFor(x=>x.Title, new {@class="from-control"})
    <br/>
     <label>Bild Url</label>
    @Html.TextBoxFor(x=>x.BildUrl, new {@class="from-control"})
    <br/>
    <button class="btn btn-info">Hinzufügen</button>
}*@

