@model NSchicht.Core.Konkret.Aktenmappe
@{
    ViewData["Title"] = "InsertAktenmappe";
    Layout = "~/Views/Shared/_NeuerAdministratorLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Aktenmappe hinzufügen Seite</h4>
                  @using(Html.BeginForm("InsertAktenmappe","Aktenmappe", FormMethod.Post))
                  {
                     <div class="form-group">
                      <label for="exampleInputName1">Name</label>
                      <input type="text" asp-for="Name" class="form-control" id="exampleInputName1" placeholder="Name">
                      @Html.ValidationMessageFor(x=>x.Name)
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Projekturl Bild</label>
                      <input type="text" asp-for="ProjektUrlBild" class="form-control" id="exampleInputName1" placeholder="ProjektUrlBild">
                      @Html.ValidationMessageFor(x=>x.ProjektUrlBild)
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Bildurl</label>
                      <input type="text" asp-for="BildUrl" class="form-control" id="exampleInputName1" placeholder="Bildurl">
                      @Html.ValidationMessageFor(x=>x.BildUrl)
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Projekturl</label>
                      <input type="text" asp-for="ProjektUrl" class="form-control" id="exampleInputName1" placeholder="ProjektUrl">
                      @Html.ValidationMessageFor(x=>x.ProjektUrl)
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Preis </label>
                      <input type="text" asp-for="Preis" class="form-control" id="exampleInputName1" placeholder="Preis">
                      @Html.ValidationMessageFor(x=>x.Preis)
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Proportion </label>
                      <input type="text" asp-for="Proportion" class="form-control" id="exampleInputName1" placeholder="Proportion">
                      @Html.ValidationMessageFor(x=>x.Proportion)
                    </div>
                    <button type="submit" class="btn btn-outline-primary mr-2">Hinzufügen</button>
                    }
                </div>
              </div>
            </div>
@*<div class="card-header border-0">
              <h3 class="mb-0">Aktenmappe hinzufügen Seite.</h3>
            </div>
            <br/>
@using(Html.BeginForm("InsertAktenmappe","Aktenmappe", FormMethod.Post))
{
    <div class="section px-2 px-lg-4 pb-4 pt-5 mb-5" id="contact">
    <div class="col-lg-12">
    <div class="form-group my-2">
    @Html.Label("Aktenmappestitel")
    @Html.TextBoxFor(x=>x.Name, new {@class="from-control"})
    @Html.ValidationMessageFor(x=>x.Name)
    <br/>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group my-2">
    <label>BildUrl</label>
    @Html.TextBoxFor(x=>x.BildUrl, new {@class="from-control"})
    @Html.ValidationMessageFor(x=>x.BildUrl)
    <br/>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group my-2">
    <label>ProjektUrlBild</label>
    @Html.TextBoxFor(x=>x.ProjektUrlBild, new {@class="from-control"})
    @Html.ValidationMessageFor(x=>x.ProjektUrlBild)
    <br/>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group my-2">
     <label>Projekt Url</label>
    @Html.TextBoxFor(x=>x.ProjektUrl, new {@class="from-control"})
    @Html.ValidationMessageFor(x=>x.ProjektUrl)
    <br/>
    </div>
    </div>
     <div class="col-lg-6">
    <div class="form-group my-2">
     <label>Preis</label>
    @Html.TextBoxFor(x=>x.Preis, new {@class="from-control"})
    @Html.ValidationMessageFor(x=>x.Preis)
    <br/>
    </div>
    </div>
     <div class="col-lg-6">
    <div class="form-group my-2">
     <label>Proportion</label>
    @Html.TextBoxFor(x=>x.Proportion, new {@class="from-control"})
    @Html.ValidationMessageFor(x=>x.Proportion)
    <br/>
    </div>
    </div>
    </div>
    <button class="btn btn-info">Hinzufügen</button>
}*@

