@model NSchicht.Core.Konkret.Erfahrung
@{
    ViewData["Title"] = "InsertErfahrung";
    Layout = "~/Views/Shared/_NeuerAdministratorLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Seite zum hinzufügen von Erfahrungen</h4>
                  @using(Html.BeginForm("InsertErfahrung","Erfahrung", FormMethod.Post))
                  {
                     <div class="form-group">
                      <label for="exampleInputName1">Name</label>
                      <input type="text" asp-for="Name" class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Datum</label>
                      <input type="text" asp-for="Datum" class="form-control" id="exampleInputName1" placeholder="Datum">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Bildurl</label>
                      <input type="text" asp-for="BildUrl" class="form-control" id="exampleInputName1" placeholder="Bildurl">
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Bezeichnung</label>
                        <textarea class="form-control" asp-for="Bezeichnung" id="exampleTextarea1" rows="4"></textarea>
                      </div>
                    <button type="submit" class="btn btn-outline-primary mr-2">Hinzufügen</button>
                    <button class="btn btn-light">Abbrechen</button>
                    }
                </div>
              </div>
            </div>
@*<div class="card-header border-0">
              <h3 class="mb-0">Erfahrungshinzufügensseite</h3>
            </div>
            <br/>
@using(Html.BeginForm("InsertErfahrung","Erfahrung", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.ErfahrungID)
    <br/>
    @Html.Label("Erfahrungstitel")
    @Html.TextBoxFor(x=>x.Name, new {@class="from-control"})
    <br/>
    <label>Datum</label>
    @Html.TextBoxFor(x=>x.Datum, new {@class="from-control"})
    <br/>
     <label>Bild Url</label>
    @Html.TextBoxFor(x=>x.BildUrl, new {@class="from-control"})
    <br/>
     <label>Bezeichnung</label>
    @Html.TextAreaFor(x=>x.Bezeichnung,3,10, new {@class="from-control"})
    <br/>
    <button class="btn btn-info">Hinzufügen</button>
}*@

